.input-element {
    padding: 5px;
    
}

.row {
    display: flex;
}

.delete {
    color: red;
    margin-right: 0.5rem;
    cursor: pointer;
}

.container {
    margin: 5px;
    display: flex;
}

.firebase {
    margin-left: 1rem;
}